{% extends "layout.html" %}

{% block title %}
  Student Tracker
{% endblock %}

{% block body %}
<!-- Main Content -->
<section id="showcase"> 
  <div class="container-fluid" id="title-container">
    <h1>Student Tracker</h1>
    <p>
      Want help by doing extra tutoring courses, look no further than here! 
      <span class="small-invs">On this website you can find everything you need!</span> 
    </p>
    <button type="button" class="btn btn-light">Read more!</button>
    <button type="button" class="btn btn-outline-light">Reading List</button>
  </div>
</section>

<section id="subjects" class="row">
  <div class="col">
    <img src="{{ url_for('static', filename='img/euler.jpg') }}" alt="Painting of Euler">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Maecenas non erat ac ex convallis condimentum et eu felis. 
      Sed id massa viverra, viverra augue sit amet, posuere lacus. Donec congue eu eros sit amet euismod.
    </p>
  </div>

  <div class="col">
    <img src="{{ url_for('static', filename='img/pythagoras.jpg') }}" alt="Painting of Pythagoras">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Maecenas non erat ac ex convallis condimentum et eu felis. 
      Sed id massa viverra, viverra augue sit amet, posuere lacus. Donec congue eu eros sit amet euismod.
    </p>
  </div>

  <div class="col">
    <img src="{{ url_for('static', filename='img/gauss.jpg') }}" alt="Painting of Gauss">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Maecenas non erat ac ex convallis condimentum et eu felis. 
      Sed id massa viverra, viverra augue sit amet, posuere lacus. Donec congue eu eros sit amet euismod.
    </p>
  </div>
</section>
{% endblock %}
