{% extends "layout.html" %}

{% block title %}
  Welcome
{% endblock %}

{% block body %}
  <h1>Welcome {{ student.firstName }} {{  student.lastName  }}</h1>
    <!-- Button for adding course -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addGradeModal">
        Add Course
    </button>
  
    <!-- Modal for adding course -->
    <div class="modal fade" id="addGradeModal" tabindex="-1" role="dialog" aria-labelledby="addGradeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addGradeModalLabel">Add a Course</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="{{ url_for('addCourse', userID = student.id) }}" method="post">
        <div class="modal-body">
            <div class="form-group">
                <label for="addCourse">Course Name</label>
                <input type="text" name="course" class="form-control" id="addCourse" placeholder="Course name">
            </div>
             
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add a course</button>
        </div>
        </form>
        </div>
    </div>
    </div>

    <!-- List of courses -->
    <ul>
    {% for course in student.courses %}
        <li>
            <a href="{{ url_for('course', userID=student.id, courseID=course.id) }}">{{ course.name }}</a>
        </li>
    {% endfor %}
    </ul>

     <!-- Button for adding parent -->
     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addParentModal">
        Add Parent
    </button>
  
    <!-- Modal for adding parent -->
    <div class="modal fade" id="addParentModal" tabindex="-1" role="dialog" aria-labelledby="addParentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addParentModalLabel">Add a Parent</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="{{ url_for('addFamily', userID = student.id) }}" method="post">
        <div class="modal-body">
            <div class="form-group">
                <label for="addParent">Username of Parent</label>
                <input type="text" name="parent" class="form-control" id="addParent" placeholder="Course name">
                <input type="hidden" name="submitted" value="student">
            </div>
             
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
        </div>
    </div>
    </div>
    <!-- List of parents -->
    <ul>
        {% for parent, familyParent in parentsInfo %}
        {% if (familyParent.pending) and (familyParent.studentSubmit)%}
        <h3>Pending Parents</h3>
            <li>
                {{ parent.firstName }} {{ parent.lastName }}
            </li>
        {% elif (familyParent.pending) and (familyParent.parentSubmit)%}
        <h5>{{ parent.firstName }} {{ parent.lastName }} is requesting relation.</h5>
        <form action="{{ url_for('pending') }}" method="post">
          <button type="submit" class="btn btn-success" name="decision" value="accept">Accept</button>
          <button type="submit" class="btn btn-secondary" name="decision" value="deny">Deny</button>
          <input type="hidden" name="parentID" value="{{ familyParent.parentID }}">
          <input type="hidden" name="studentID" value="{{ student.id }}">
        </form>
        {% else %}
            <li>
                {{ parent.firstName }} {{ parent.lastName }}
            </li>
        {% endif %}
        {% endfor %}
    </ul>
    {{ coursesInfo }}
    <canvas id="myChart"></canvas>
    <script>
    function getColor(value){
        // value from 0 to 1
        var hue=((value)*100).toString(10);
        return ["hsl(",hue,",100%,50%, 0.3)"].join("");
    }
    function getBorderColor(value){
        // value from 0 to 1
        var hue=((value)*80).toString(10);
        return ["hsl(",hue,",100%,50%, 0.5)"].join("");
    }

    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for course in student.courses %} "{{ course.name }}", {% endfor %}],
            datasets: [{
                label: 'The mean per course',
                data: [{% for course in student.courses %} {% if course.means|length > 0 %} {{ course.means[-1].mean }}, {% else %} 0, {% endif %} {% endfor %}],
                backgroundColor: [
                    {% for course in student.courses %}
                        {% if course.means|length > 0 %} getColor({{ course.means[-1].mean }}/10), {% else %} 0, {% endif %} 
                    {% endfor %}
                ],
                borderColor: [
                {% for course in student.courses %}
                        {% if course.means|length > 0 %} getBorderColor({{ course.means[-1].mean }}/7), {% else %} 0, {% endif %} 
                {% endfor %}
                ],
                borderWidth: 1,
                hoverBackgroundColor: [
                {% for course in student.courses %}
                        {% if course.means|length > 0 %} getBorderColor({{ course.means[-1].mean }}/7), {% else %} 0, {% endif %} 
                {% endfor %}
                ]
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        suggestedMax: 10
                    }
                }]
            }
        }
    });
    </script>
    <canvas id="myRadar"></canvas>
    <script>
        const ctxRadar = document.getElementById("myRadar");
        const dataRadar = {
            labels: [{% for typeMean in typeMeans %} "{{ typeMean.testType.name }}", {% endfor %}],
        datasets: [
            {
            label: "Mean grade",
            fill: true,
            backgroundColor: "rgba(255,99,132,0.2)",
            borderColor: "rgba(255,99,132,1)",
            pointBorderColor: "#fff",
            pointBackgroundColor: "rgba(255,99,132,1)",
            pointBorderColor: "#fff",
            data: [{% for typeMean in typeMeans %} {{ typeMean.mean }}, {% endfor %}]
            }
        ]
        };
        const optionsRadar = {
            scale: {
                angleLines: {
                display: false
                },
            ticks: {
                suggestedMin: 0,
                suggestedMax: 10
                }
            }
        };
        var myRadarChart = new Chart(ctxRadar, {
        type: 'radar',
        data: dataRadar,
        options: optionsRadar
        });    
    </script>
{% endblock %}
