{% extends "layout.html" %}

{% block title %}
  Welcome
{% endblock %}

{% block body %}
<div class="container p-3">
<h1>Welcome {{ parent.firstName }} {{  parent.lastName  }}</h1>

      <!-- Button for adding child -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addChildModal">
        Add Child
    </button>
  
    <!-- Modal for adding child  -->
    <div class="modal fade" id="addChildModal" tabindex="-1" role="dialog" aria-labelledby="addChildModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addChildModalLabel">Add a Child</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="{{ url_for('addFamily', userID = parent.id) }}" method="post">
        <div class="modal-body">
            <div class="form-group">
                <label for="addChild">Username of Child</label>
                <input type="text" name="student" class="form-control" id="addChild" placeholder="Course name">
                <input type="hidden" name="submitted" value="parent">
            </div>
             
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
        </div>
    </div>
    </div>


    <h2> My Children </h2>
    <form action="{{ url_for('pending') }}" method="post">
    <table class="table table-sm table-hover sortable order-table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Username</th>
            <th scope="col">Accepted</th>
            <th scope="col">Accept</th>
            <th scope="col">Deny</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for child, familyChild in childrenInfo %}
            {% if familyChild.pending == False %}
          <tr>
            <td data-href="{{ url_for('student', userID=child.id) }}">{{ child.firstName }}</td>
            <td data-href="{{ url_for('student', userID=child.id) }}">{{ child.lastName }}</td>
            <td data-href="{{ url_for('student', userID=child.id) }}">{{ child.username }}</td>
            <td>Yes</td>
            <td></td>
            <td></td>
            <td>
              <input type="hidden" name="parentID" value="{{ parent.id }}">
              <input type="hidden" name="studentID" value="{{ familyChild.studentID }}">
              <button type="submit" class="btn btn-sm btn-danger" name="decision" value="delete">Delete</button>
            </td>
          </tr>
            {% elif (familyChild.pending) and (familyChild.studentSubmit) %}
            <tr>
                <td>{{ child.firstName }}</td>
                <td>{{ child.lastName }}</td>
                <td>{{ child.username }}</td>
                <td>Requesting Relation</td>
                <td>
                    <input type="hidden" name="parentID" value="{{ parent.id }}">
                    <input type="hidden" name="studentID" value="{{ familyChild.studentID }}">
                    <button type="submit" class="btn btn-sm btn-success" name="decision" value="accept">Accept</button>
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-secondary" name="decision" value="deny">Deny</button>
                </td>
            </tr>
            {% elif (familyChild.pending) and (familyChild.parentSubmit) %}
            <tr>
                <td>{{ child.firstName }}</td>
                <td>{{ child.lastName }}</td>
                <td>{{ child.username }}</td>
                <td>No</td>
                <td></td>
                <td></td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      </form>
</div>
{% endblock %}
