{% extends "layout.html" %}

{% block title %}
  Welcome
{% endblock %}

{% block body %}
  <h1>Welcome {{ student.firstName }} {{  student.lastName  }}</h1>

    <!-- Button for adding course -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addGradeModal">
        Add Course
    </button>
  
    <!-- Modal for adding course -->
    <div class="modal fade" id="addGradeModal" tabindex="-1" role="dialog" aria-labelledby="addGradeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addGradeModalLabel">Add a Course</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="{{ url_for('addCourse', userID = student.id) }}" method="post">
        <div class="modal-body">
            <div class="form-group">
                <label for="addCourse">Course Name</label>
                <input type="email" name="course" class="form-control" id="addCourse" placeholder="Course name">
            </div>
             
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add a course</button>
        </div>
        </form>
        </div>
    </div>
    </div>

    <!-- List of courses -->
    <ul>
    {% for course in student.courses %}
        <li>
            <a href="{{ url_for('course', userID=student.id, courseID=course.id) }}">{{ course.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
